@theme {
    /* Text Sizes */
    --text-xs: [ '12px', '16px'];
    --text-sm: [ '14px', '20px'];
    --text-base: [ '16px', '19.5px'];
    --text-lg: [ '18px', '21.94px'];
    --text-xl: [ '20px', '24.38px'];
    --text-2xl: [ '24px', '29.26px'];
    --text-3xl: [ '28px', '50px'];
    --text-4xl: [ '48px', '58px'];
    --text-8xl: [ '96px', '106px'];

    /* Font Family */
    --font-palanquin: 'Palanquin', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;

    /* Colors */
    --color-primary: #eceeff;
    --color-coral-red: #ff6452;
    --color-slate-gray: #6d6d6d;
    --color-pale-bluet: #f5f6ff;
    --color-white-400: rgba(255, 255, 255, 0.8);

    /* Box Shadow */
    --shadow-3xl: 0 10px 40px rgba(0, 0, 0, 0.1);

    /* Screens */
    --breakpoint-wide: 1440px;
}

@utility bg-hero {
    background-image: url('../assets/images/collection-background.svg');
}

@utility bg-card {
    background-image: url('../assets/images/thumbnail-background.svg');
}

@utility max-container {
    max-width: 1440px;
    margin: 0 auto;
}
