@theme {
    /* Text Sizes */
    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 28px;
    --text-4xl: 48px;
    --text-8xl: 96px;

    /* Leading Sizes */
    --leading-xs: 16px;
    --leading-sm: 20px;
    --leading-base: 19.5px;
    --leading-lg: 21.94px;
    --leading-xl: 24.38px;
    --leading-2xl: 29.26px;
    --leading-3xl: 50px;
    --leading-4xl: 58px;
    --leading-8xl: 106px;

    /* Font Family */
    --font-palanquin: 'Palanquin', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;

    /* Colors */
    --color-primary: #eceeff;
    --color-coral-red: #ff6452;
    --color-slate-gray: #6d6d6d;
    --color-pale-bluet: #f5f6ff;
    --color-white-400: rgba(255, 255, 255, 0.8);

    /* Box Shadow */
    --shadow-3xl: 0 10px 40px rgba(0, 0, 0, 0.1);

    /* Screens */
    --breakpoint-wide: 1440px;
}

@utility bg-hero {
    background-image: url('../assets/images/collection-background.svg');
}

@utility bg-card {
    background-image: url('../assets/images/thumbnail-background.svg');
}

@utility max-container {
    max-width: 1440px;
    margin: 0 auto;
}
