---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home'>
	<main class='relative'>
		nav
		<section class='xl:padding-l wide:padding-r padding-b'>hero</section>
		<section class='padding'>PopularProducts</section>
		<section class='padding'>SuperQuality</section>
		<section class='padding-x py-10'>Services</section>
		<section class='padding'>SpecialOffers</section>
	</main>
</Layout>
