---
import { Image } from 'astro:assets';
import type { Shoe } from '../types';

interface Props {
	imgUrl: Shoe;
	isSelected?: boolean;
}

const { imgUrl, isSelected = false }: Props = Astro.props;
---

<div
	class={`border-2 rounded-xl cursor-pointer max-sm:flex-1 ${isSelected ? 'border-coral-red' : 'border-transparent'}`}
	data-shoe={JSON.stringify(imgUrl)}>
	<div
		class='flex justify-center items-center bg-card bg-center bg-cover sm:w-40 sm:h-40 rounded-xl max-sm:p-4'>
		<Image
			src={imgUrl.thumbnail}
			alt='shoe collection'
			width={127}
			height={103}
			class='object-contain'
		/>
	</div>
</div>

<script>
	import { dispatchShoeSelection } from '../utils/shoeEvents';

	document.querySelectorAll('[data-shoe]').forEach((element) => {
		element.addEventListener('click', () => {
			const shoe = JSON.parse(element.getAttribute('data-shoe') || '{}');
			dispatchShoeSelection(shoe);
		});
	});
</script>
