---
import { Image } from 'astro:assets';
import Button from '../components/Buttons.astro';
import { offer } from '../assets/images';
import { arrowRight } from '../assets/icons';
---

<section class='flex justify-wrap items-center max-xl:flex-col-reverse gap-10 max-container'>
	<div class='flex-1'>
		<Image src={offer} alt='offer' width={773} height={687} class='object-contain' />
	</div>
	<div class='flex flex-1 flex-col'>
		<h2 class='font-palanquin font-bold text-4xl capitalize leading-4xl lg:max-w-lg'>
			<span class='text-coral-red'>Special</span>
			Offer
		</h2>
		<p class='mt-4 lg:max-w-lg info-text'>
			Embark on a shopping journey that redefines your experience with unbeatable deals. From
			premium selections to incredible savings, we offer unparalleled value that sets us
			apart.
		</p>
		<p class='mt-6 lg:max-w-lg info-text'>
			Navigate a realm of possibilities designed to fulfill your unique desires, surpassing
			expectations in both product and service.
		</p>
		<div class='mt-11 flex flex-wrap gap-4'>
			<Button label='Shop now' iconUrl={arrowRight} />
			<Button
				label='Learn more'
				backgroundColor='bg-white'
				borderColor='border-slate-gray'
				textColor='text-slate-gray'
			/>
		</div>
	</div>
</section>
