---
import Button from '../components/Buttons.astro';
---

<section
	id='contact-us'
	class='max-container flex justify-between items-center max-lg:flex-col gap-10'>
	<h3 class='text-4xl leading-[68px] lg:max-w-md font-palanquin font-bold'>
		Sign Up from <span class='text-coral-red'>Updates</span> & Newsletter
	</h3>
	<div
		class='lg:max-w-[40%] w-full flex items-center max-sm:flex-col gap-5 p-2.5 sm:border sm:border-slate-gray rounded-full'>
		<input type='text' placeholder='subscribe@nike.com' class='input' />
		<div class='flex justify-end items-center w-full max-sm:mt-6'>
			<Button label='Sign Up' />
		</div>
	</div>
</section>
